button {
  border: 0.02px solid rgb(207, 203, 203);
  cursor: pointer;
  font-size: 24px;
  height: 60px;
  width: 97.5px;
}

button:active {
  transform: scale(0.93);
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.85;
}

button.light-grey {
  background-color: rgb(231, 227, 227);
}

button.orange {
  background-color: #f19a35;
  color: rgb(8, 8, 8);
}

button.dark-grey {
  background-color: rgb(231, 227, 227);
  color: rgb(0, 0, 0);
}

button.double-width {
  width: 195px;
}

.keypad {
  width: 75%;
}
